<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.jwetherell.quick_response_code"
      android:versionCode="1"
      android:versionName="1.0">

    <uses-sdk android:minSdkVersion="5" android:targetSdkVersion="5"/>

    <uses-feature android:name="android.hardware.camera"/>
	<uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
	<uses-feature android:name="android.hardware.touchscreen" android:required="false"/>

    <uses-permission android:name="android.permission.CAMERA"/>


</manifest>